#popup-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9998;
}
#popup-window {
    display:block;
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    z-index: 9999;
    border-radius: 20px;
    text-align: center;
}
#popup-close {
    display: block;
    background-color: #00b38d;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 4.6vh;
    height: 4.6vh;
    line-height: 4.6vh;
    font-size:4vh;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    border-radius: 50%;
}
#popup-title {
    margin-top: 17vh;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Jigsaw 2';
    text-transform: uppercase;
    font-size: 5vh;
    font-weight: bold;
}
#popup-subtitle {
    margin-top: 5vh;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Jigsaw 2';
    font-size: 3vh;
}
#popup-button {
    display:inline-block;
    margin-top: 4vh;
    padding: 1.3vh 1.8vh;
    line-height: normal;
    width: auto;
    height: auto;
    border-width: 0;
    border-radius: 300px;
    cursor: pointer;
    color: #ffffff;
    background-color: #00b38d;
    border-color:#00b38d;
    font-family: 'Jigsaw 2';
    font-style: normal;
    font-size: 2.5vh;
    font-weight: 700;
    font-stretch: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
@media screen and (min-width: 80em) {
    #popup-window {
        width: 60%;
        height: 60%;
    }
}
